header {
	border: 1px solid red;
	width: 800px;
	height: 200px;
}
nav {
	border: 1px solid orange;
	width: 100px;
	height: 400px;
	display: inline-block;
}
section {
	border: 1px solid orange;
	width: 700px;
	height: 400px;
	display: inline-block;
}
footer {
	border: 1px solid grey;
	width: 800px;
	height: 200px;
}